.row
  .col-md-9
    %article.question-display.single-question
      %h2.question-display-title= @question.title
      .question-display-inner
        .question-display-content
          =raw(@question.body)
        .question-display-question-user
          = link_to @question.user.user_detail.full_name, user_url(@question.user)
          = @question.user.user_detail.title_display
    .question-display-answer-divider
      %h3= pluralize(@question.answers.count, 'Answer')
    - @question.answers.each do |answer|
      %article.question-display.single-question
        .question-display-inner
          .question-display-answer-user-container
            %span.question-display-answer-user
              =answer.user.user_detail.full_name
            %span.question-display-answer-user-detail
              =" - #{answer.user.user_detail.title_display}"

            .question-display-answer-date
              = "Answered: #{answer.created_at.strftime("%d %b %Y")}"
              - if answer.created_at != answer.updated_at
                = "   - Updated: #{answer.updated_at.strftime("%d %b %Y")}"

          .question-display-content
            =raw(answer.body)


  %aside.col-md-3.sidebar.question-display-sidebar
    .sidebar-widget.sidebar-widget-question-details
      %h3.sidebar-widget-title Details
      .sidebar-widget-question-detail-element
        = link_to '#', class: 'slow-transition-blackblue' do
          %span= @question.jurisdiction.titleize
      .sidebar-widget-question-detail-element
        %span= "Views: #{@question.views}"
      .sidebar-widget-question-detail-element
        %span= "Created: #{@question.created_at.strftime("%B %-d, %Y")}"
      .sidebar-widget-question-detail-element
        %span= "Updated: #{@question.updated_at.strftime("%B %-d, %Y")}"
    .sidebar-widget.sidebar-widget-related-questions
      %h3.sidebar-widget-title Related Questions
      %div= "Todo " # todo







