%h4
  = "#{group.titleize} #{pluralize(collection.count, type)}"
%ul.list-group
  -if collection.count == 0
    %li.list-group-item.disabled
      = "No #{type} to display"
  - else
    - collection.each do |c|
      = link_to (type == "answer" ? question_url(c.question) : question_url(c)) do
        %li.list-group-item
          = c.question.title if type == "answer"
          = c.title if type == "question"




