
.page-header
  %h2= @detail.full_name
  - if current_user && current_user == @user
    %h5= link_to "Edit Profile", edit_user_url(current_user)
.row
  .col-md-9
    .row
      %h4
        Details
      %p
        %strong
          Current Position:
        = @detail.title ? @detail.title : 'None provided'
      %p
        %strong Organization:
        = @detail.organization ? @detail.organization : 'None provided'
      %p
        %strong
          Website:
        = @detail.website_url ? link_to(@detail.website_url, @detail.website_url) : 'None provided'
      %p
        %strong
          LinkedIn Profile:
        = @detail.linkedin_url ? link_to(@detail.linkedin_url, @detail.linkedin_url) : 'None provided'
    .col-md-11
      .row
        = render :partial => 'top', locals: {group: 'top', type: 'answer', collection: @top_answers_selection}
      .row
        = render :partial => 'top', locals: {group: 'top', type: 'question', collection: @top_questions_selection}
      .row
        = render :partial => 'top', locals: {group: 'recent', type: 'answer', collection: @recent_answers_selection}
      .row
        = render :partial => 'top', locals: {group: 'recent', type: 'question', collection: @recent_questions_selection}


  %aside.col-md-3
    .sidebar-widget
      %h3.sidebar-widget-title Accolades
      .sidebar-widget-accolades-item
        %i.fa.fa-trophy.widget-item-icon
        = "Top #{'Answer'.pluralize}: #{@user.top_answer_count}"
      .sidebar-widget-accolades-item
        %i.fa.fa-comment.widget-item-icon
        = "Answer score: #{@user.answer_score}"
      .sidebar-widget-accolades-item
        %i.fa.fa-question-circle.widget-item-icon
        = "Question score: #{@user.question_score}"
    .sidebar-widget
      %h3.sidebar-widget-title Stats
      .sidebar-widget-accolades-item
        %i.fa.fa-comment.widget-item-icon
        = "Answers submitted: #{@user.answers.count}"
      .sidebar-widget-accolades-item
        %i.fa.fa-question-circle.widget-item-icon
        = "Questions asked: #{@user.questions.count}"
