

.row
  .panel.panel-default.question-short-panel
    .panel-heading
      .panel-title
        %h4.question-title= link_to truncate(question.title, length: 200, seperator: ''),
          question_url(question), class: 'slow-transition-blackblue'
    .panel-body
      =raw(question.body).truncate(500, seperator: ' ')
    .panel-footer
      .row
        .col-sm-2
          %i.fa.fa-thumbs-up
            %span.question-detail= pluralize question.score, 'vote'
        .col-sm-2
          = link_to questions_url(filter: {by_jurisdictions: question.jurisdiction}) do
            %i.fa.fa-university
              %span.question-detail= question.jurisdiction.titleize
        .col-sm-2
          %i.fa.fa-user
            %span.question-detail= pluralize question.views, 'view'
        .col-sm-2
          = link_to question_url question, anchor: 'answers' do
            %i.fa.fa-comment
              %span.question-detail= pluralize question.answers.count, 'answer'
        .col-sm-2
          %i.fa.fa-calendar
            %span.question-detail= question.created_at.strftime("%B %-d, %Y")


