.container
  .row
    .panel.panel-default.bar-admission-panel
      .panel-heading.bar-admission-panel-heading
        %h4 Add new bar admission
      .panel-body.bar-admission-panel-body
        = form_for @bar_admission, url: bar_admissions_url(@bar_admission) do |f|
          .row.form-row
            .col-md-2
              Jurisdiction:
            .col-md-4
              = f.select(:jurisdiction, (BarAdmission.jurisdictions.keys.to_a.map(&:titleize)).unshift("Select One"),
                 {}, {:class => "form-control"})
          .row.form-row
            .col-md-2
              Bar Number:
            .col-md-4
              = f.text_field :bar_number, :class => "form-control"
          .row.form-row
            .col-md-2
              Date Admitted:
            .col-md-4
              = f.text_field :date_admitted, "data-provide" => "datepicker", :class => "form-control"
          .row.form-row
            .col-md-2
              Status:
            .col-md-4
              = f.select(:status, (BarAdmission.statuses.keys.to_a.map(&:titleize)).unshift("Select One"),
                {}, {:class => "form-control"})
          .row.form-row
            .col-md-4.col-md-offset-2
              = f.submit 'Submit', :class => "btn btn-primary"